*, *::before, *after {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2EC4B6;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: #E71D36;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 1em;
}

button:hover {
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: #d9bbbf;
    font-family: "Lucida Console", "Courier New", monospace;
}

.span-two {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous {
    color: rgba(255, 255, 255, 0.81);
    font-size: 1.5rem;
    font-family: "Lucida Console", "Courier New", monospace;
}

.current {
    color: white;
    font-size: 2.5rem;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

.calcHistory {
    font-size: 1.5rem;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}

h3 {
    font-size: 1.5rem;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}