body {
    background-color: #2EC4B6;
    text-align: center;
}

button {
    /* padding: 15px 25px; */
    width: 50px;
    height: 50px;
    margin: 10px; 
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #E71D36;
    border: solid;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

button:hover {
    background-color: #e71d35cc;
}

button:active {
    background-color: #e71d35dc;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

footer {
    text-align: left;
}