body {
    background-color: #2EC4B6;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

button {
    /* padding: 15px 25px; */
    width: 50px;
    height: 50px;
    margin: 10px; 
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #E71D36;
    border: solid;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    font-family: "Lucida Console", "Courier New", monospace;
}

button:hover {
    background-color: #e71d35cc;
}

button:active {
    background-color: #63232b;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

footer {
    text-align: left;
    color: white;
}

input {
    height: 50px;
    background-color: white;
    border-radius: 15px;
    font-size: 24px;
    text-align: center;
    outline: none;
    border: solid;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    margin-bottom: 40px;
}

.answerSpace {
 
    font-family: "Lucida Console", "Courier New", monospace;
    height: 50px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 36px;
    color: gray;
    text-align: center;
    outline: none;
    border: solid;
    border-radius: 15px;
    padding-top: 5px;
}

h2 {
    font-weight: normal;
}
